<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportsQuiz App</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'css/styles.css'%}"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity= "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script> 
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script>
            $(document).ready(function(){
                $('.delete_question').on('click', function() {
                    var questionid = $(this).attr("id");
                    $('.modal').modal({
                        onApprove: function (e) {
                            $.ajax({
                                url: `/question/delete/${questionid}`,
                                data: $(this).serialize(),
                                success: response=>$('tr#userline'+questionid).remove(),
                                error: err=> console.log("error")
                            })
                    },}).modal('show');
                });
            })
        </script>
    </head>
    <body>
        <div id="navbar" class="ui fixed borderless menu">
            <a href="/play" class="header item">QuizMeSports</a>
            <a href="/stats" class="item">Stats</a>
            <a href="/dashboard" class="item">Dashboard</a>

            <div class="right menu">
                <a href="/user" class="item">{{request.session.first_name| capfirst}}</a>
                <a href="{%url 'logout'%}" class="item">Logout</a>
            </div>
        </div>
        <div  id="user-container">
            <div class="ui mini modal">
                <div class="header">Delete the item?</div>
                <div class="content">
                  <p>It will be permanently deleted</p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Delete</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
            </div>
            <h1 class="ui center aligned header">Welcome {{request.session.first_name| capfirst}}</h1>
            <table class="ui  table center aligned">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Question</th>
                        <th>Uploaded At</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {%for question in questions%}
                    <tr id="userline{{question.id}}"> 
                        <td>{{question.belong_category.title | capfirst}}</td>
                        <td>{{question.question|truncatewords:8}}</td>
                        <td>{{question.created_at}}</td>
                        <td><a href="/question/edit/{{question.id}}"><i class="edit icon"></i></a></td>
                        <td id="{{question.id}}" class="delete_question"><i class="trash icon"></i></td>
                    </tr>
                    {%endfor%}
                </tbody>
              </table>
              <a href="{%url 'new_question_temp'%}" style="color:white"><i class="plus square icon"></i> Add a new question</a>
        </div>
    </body>
</html>