<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportsQuiz App</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    </head>
    <body >
        <div id="quiz-container" class="column">
            <form action="/quiz/submit" method="post" class="ui form">
                {% csrf_token %}
                <div class="ui stacked segment">
                    {%for q in questions%}
                    <div class="field quiz-field">
                        <p>{{q.question}}</p>
                        <input type="text" name="answer{{q.id}}" placeholder="answer"  autocomplete="off">
                        <input type="hidden" value="{{q.id}}" name="id{{q.id}}">
                    </div>
                    {%endfor%}
                </div>
                <input type='submit' value='submit' class="ui button btn-quiz" >
            </form>
        </div>
    </body>
</html>